*, body {
    background-color: #E6E1C9;
    padding: 0;
}

#nav {
    color: black;
    text-transform: uppercase;
    padding: 1.5rem 0rem 1.5rem 0rem;
    width: 100vw;
    max-height: 25vh;
}

#mobile-nav {
    display: none;
}

.nav-link {
    color: black;
    text-decoration: none;
}

#nav-left {
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: -2px;
    max-height: 58px;
    transition: ease .75s;
}

#nav-left:hover {
    font-size: 2rem;
    transition: ease .75s;
}

#nav-right > .nav-link {
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: 4px;
    white-space: nowrap;
}


#nav-right > .nav-link:hover {
    color: white;
    transition: ease 0.5s;
}

@media (min-width: 0px) {   
    /* || Nav */
    #nav {
        display: none;
    }
    
    #mobile-nav {
        display: block;
    }
    
    #nav-right > .nav-link {
        display: none;
    }
    /* || Carousel */
}

@media (min-width: 576px) {
    /* || Nav */
    #nav {
        display: block;
    }
    
    #mobile-nav {
        display: none;
    }
    
    #nav-right > .nav-link {
        padding: 0rem 0.75rem 0rem 0.75rem;
        display: block;
    }
    /* || Carousel */
}

@media (min-width: 768px) {
    /* || Nav */ 
    
    #nav-right > .nav-link {
        padding: 0rem 2rem 0rem 2rem;
        display: block;
    }
    /* || Carousel */
}

@media (min-width: 992px) {
    /* || Nav */
    
    #nav-right > .nav-link {
        padding: 0rem 3rem 0rem 3rem;
        display: block;
    }
    /* || Carousel */
}

@media (min-width: 1200px) {
    /* || Nav */ 
    
    #nav-right > .nav-link {
        padding: 0rem 4.5rem 0rem 4.5rem;
        display: block;
    }
    /* || Carousel */
}

.carousel-indicators {
    background: none;
    justify-content: start;
}

#myCarousel {
    min-height: 75vh;
    max-height: 75vh;
}

.dot {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: #F1CA23;
    display: inline-block;
    margin: 4rem;
    position: relative;
}

#lebron {
    position: absolute;
    /* z-index: 1; */
    left: 50%;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: auto;
    background: none;
    /* z-index: 999; */
    left: 700px;
    top: 50px;
}

.carousel-indicators > li {
    background-color: black;
}

.carousel-control-prev-icon, .carousel-control-next-icon  {
    filter: invert(100%);
    z-index: 1;
}