*, body {
    background-color: #E6E1C9;
    padding: 0;
}

#nav {
    color: black;
    text-transform: uppercase;
    padding: 1.5rem 0rem 1.5rem 0rem;
    width: 100vw;
    max-height: 25vh;
}

.nav-link {
    color: black;
    text-decoration: none;
}

#nav-left {
    font-weight: 700;
    font-size: 1.75rem;
    letter-spacing: -2px;
    max-height: 58px;
    transition: ease .75s;
}

#nav-left:hover {
    font-size: 2rem;
    transition: ease .75s;
}

#nav-right > .nav-link {
    font-size: .75rem;
    font-weight: 500;
    letter-spacing: 4px;
    white-space: nowrap;
}


#nav-right > .nav-link:hover {
    color: white;
    transition: ease 0.5s;
}

@media (min-width: 0px) {
    #nav-right > .nav-link {
        display: none;
    }
}

@media (min-width: 576px) {
    #nav-right > .nav-link {
        padding: 0rem 0.75rem 0rem 0.75rem;
        display: block;
    }
}

@media (min-width: 768px) {
    #nav-right > .nav-link {
        padding: 0rem 2rem 0rem 2rem;
        display: block;
    }
}

@media (min-width: 992px) {
    #nav-right > .nav-link {
        padding: 0rem 3rem 0rem 3rem;
        display: block;
    }
}

@media (min-width: 1200px) {
    #nav-right > .nav-link {
        padding: 0rem 4.5rem 0rem 4.5rem;
        display: block;
    }
}


#myCarousel {
    min-height: 75vh;
    max-height: 75vh;
}

.dot {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: gold;
    display: inline-block;
    margin: 4rem;
    position: relative;
}

#lebron {
    position: absolute;
    z-index: 999;
    left: 50%;
}

.carousel-indicators > li {
    background-color: black;
}